

@keyframes arrowhover {
    33% {
        transform: translateX(1em);
    }
    66% {
        transform: translateX(-1em);
    }
    100% {
        transform: translate(0);
    }
}

.arrow:hover {
    animation: arrowhover 600ms;
}

.navBar2 > a:hover::after{
    width: 100%;
    background-color: aqua;
}

@keyframes iconsHover {
    
    0% {
        rotate: 0deg;
    }

    33% {
        rotate: 20deg;
    }

    66% {
        rotate: -20deg;
    }

    100% {
        rotate: 0deg;
    }
}


.burger:hover {
    animation: iconsHover 500ms;
}

.burger:active {
    transform: translateY(-0.5em);
}

.contacts > img:hover {
    animation: iconsHover 600ms;
}

.contacts > .line:hover {
    animation: arrowhover 1s;
}

#scrollUp:hover{
    transform: translateY(-0.7em);
}

#scrollDown:hover{
    transform: translateY(-0.7em);
}

@keyframes circles {
    33%{
        height: 0.1em;
    }
}

.ACircle:hover {
    animation: circles 200ms forwards;
    animation-duration: 1s;
 }