body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.fullPage {
    position: relative;
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
}




.firstHalf {
    background-image: url(../Images/Background-Image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 70%;
    width: 50%;
    height: auto;
    position: relative;
}

.contacts > .line {
    max-width: clamp(2rem, 5vw, 4rem);
    opacity: 0.8;
}

.contacts > h5 {
    font-size: clamp(0.4rem, 1vw, 3rem);
    color: white;
}

.contacts {
    color: white;
    padding-left: 3em;
    display: flex;
    align-items: center;
    gap: 2%;
    margin: 0;
}

.contacts > img {
    max-height: clamp(0.2rem, 1.7vw, 1rem);
    cursor: pointer;
}

.contacts > .facebook {
    max-width: clamp(0.2rem, 5vw, 1rem);
}

.firstHalf > h1 {
    color: white;
    font-size: clamp(2rem, 15vw, 25rem); 
    position: absolute;
    width: min-content;
    right: 0;
    top: 4%;
    font-weight: 800;
}

.bottomContent {
    min-width: 100%;
    position: absolute;
    bottom: 1em;
    display: flex;
    justify-content: flex-end;
}

.leftContent{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-inline: 0.8em;
    position: relative;
    margin-right: 0.2em;
    margin-left: clamp(0.2em, 4.7vw, 7em);
}

.leftContent > p {
    position: absolute;
    min-width: max-content;
    right: clamp(0.1em, 12vw, 5em);
    top: clamp(0.1em, 2vw, 9em);
    z-index: 2;
    font-size: clamp(0.1em, 1vw, 1em);
    font-weight: 500;
}

.scroller {
    display: flex;
    position: relative;
}

.scroller > h2 {
    font-weight: 700;
    opacity: 0.6;
    position: relative;
    margin: 0;
    font-size: clamp(2em, 7vw, 6.3em);
}

.scrolls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: clamp(0.2em, 4vw, 3em);;
}

.scrolls > img {
    max-height: clamp(0.4em, 1.3vw, 12em);
    transition: 300ms;
    cursor: pointer;
}

.circles {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(0.2em, 1vw, 0.8em);
}

.ACircle {
    background-color: rgb(194, 194, 194);
    height: clamp(0.4em, 1vw, 1.2em);
    min-width: clamp(0.4em, 1vw, 1.2em);
    border-radius: 50%;
}








.rightContent {
    color: white;
}

.rightContent > h3{
    color: hsla(0, 10%, 94%, 0.9);
    line-height: 0;
    font-size: clamp(0.1rem, 3vw, 1.3rem); 
}

.rightContent > h2 {
    max-width: max-content;
    font-weight: 800;
    font-size: clamp(0.2rem, 5vw, 3rem); 
    margin: 0;
    text-transform: uppercase;
}

.rightContent > p {
    padding-right: 2em;
    font-size: clamp(0.2rem, 1vw, 0.9rem); 
    color: hsla(0, 10%, 94%, 0.9);
}

.arrowAndLm {
    display: flex;
    gap: clamp(0.1rem, 5vw, 3rem);
    position: relative;
    margin-right: 20px;
}


.arrow {
    width: clamp(3em, 8vw, 8em); 
    cursor: pointer;
}







.secondHalf {
    background-color: rgb(230, 230, 230);
    width: min(50%, 100%);
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.secondHalf > h1 {
    color: white;
    font-size: clamp(2rem, 15vw, 25rem); 
    position:absolute;
    width: min-content;
    left: 0;
    top: 4%;
    background: url(../Images/Background-Image.jpg) 0 0 / cover no-repeat;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;  
    font-weight: 800;
}

.navBar2 {
    position: sticky;
    bottom: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 1.9%;
}

.navBar2 > a {
    color: rgb(7, 28, 121);
    font-size: clamp(0.2em, 2vw, 1.1em); 
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
}

.navBar2 > a::after {
    content: "";
    border-bottom: 2px solid rgb(7, 28, 121);
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0%;
    transition: 400ms;
}

.burger {
    max-width: clamp(0.2em, 2vw, 1.4em);
    align-self: center;
    cursor: pointer;
    transition: 300ms;
}

.numbers {
    max-width: 40%;
    position: relative;
    left: 36%;
}