body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.fullPage {
    position: relative;
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
}




.firstHalf {
    background-image: url(../Images/Background-Image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 70%;
    width: 50%;
    height: auto;
    position: relative;
}

.firstHalf > h1 {
    color: white;
    font-size: clamp(2rem, 15vw, 25rem); 
    position: absolute;
    width: min-content;
    right: 0;
    top: 4%;
    font-weight: 800;
}

.bottomContent {
    min-width: 100%;
    position: absolute;
    bottom: 1em;
    display: flex;
    justify-content: flex-end;
}

.rightContent {
    color: white;
}

.rightContent > h3{
    color: hsla(0, 10%, 94%, 0.9);
    line-height: 0;
}

.rightContent > h2 {
    max-width: max-content;
    font-weight: 800;
    font-size: clamp(2rem, 5vw, 4.3rem); 
    margin: 0;
    text-transform: uppercase;
}

.rightContent > p {
    padding-right: 2em;
    font-size: clamp(0.2rem, 1vw, 1.1rem); 
    color: hsla(0, 10%, 94%, 0.9);
}

.arrowAndLm {
    display: flex;
    gap: 3em;
    position: relative;
}


.arrow {
    width: clamp(3em, 8vw, 8em); 
    cursor: pointer;
}







.secondHalf {
    background-color: rgb(230, 230, 230);
    width: min(50%, 100%);
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.secondHalf > h1 {
    color: white;
    font-size: clamp(2rem, 15vw, 25rem); 
    position:absolute;
    width: min-content;
    left: 0;
    top: 4%;
    background: url(../Images/Background-Image.jpg) 0 0 / cover no-repeat;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;  
    font-weight: 800;
}

.navBar2 {
    position: sticky;
    bottom: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 1.9%;
}

.navBar2 > a {
    color: rgb(7, 28, 121);
    font-size: clamp(0.2em, 2vw, 1.1em); 
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
}

.navBar2 > a::after {
    content: "";
    border-bottom: 2px solid #071c79;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    transition: 400ms;
}

.burger {
    max-width: clamp(0.2em, 2vw, 1.4em);
    align-self: center;
    cursor: pointer;
    transition: 300ms;
}

.numbers {
    max-width: 40%;
    position: relative;
    left: 36%;
}